body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #181828;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.row2 {
  display: flex;
  align-items: center;
}

.row3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row4 {
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 20px 0;
  background-color: #050505;
}

.logo {
  width: 100px;
}

.header__link {
  margin-left: 20px;
  color: #fff;
}

.header__link.active {
  color: #ff00b4;
}

.slider__info {
  width: 70%;
  padding: 20px calc(100% - 85%) 0 90px;
  background: linear-gradient(to right, #000 60%,#000000bf 90%, #00000014);
}

.slider__img {
  width: 30%;
}

.slider__title {
  font-size: 32px;
}

.slider__text {
  font-size: 14px;
}

.page-content {
  background-color: #000;
}

.film {
  box-shadow: 0 0 20px 10px #000;
}

.sw {
  padding: 10px 0;
}

.movielist__title {
  color: #fff;
}

.movie__link {
  background-image: linear-gradient(#3f2160, #b12588);
  color: #fff;
  padding: 10px 25px;
}

.movie {
  /* height: 180px; */
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  transition: all .4s ease-out;
  transform: scale(1);
}

.movie__img {
  width: 100%;
}

.movie__name_bg {
  padding: 100px 20px 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.movie__name {
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin: 0;
  bottom: 20px;
  color: #fff;
  font-size: 18px;
  opacity: 0;
}

.movie:hover {
  transform: scale(1.1);
  box-shadow: 0 0px 15px 0 #fff;
}

.movie:hover .movie__name_bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.movie:hover .movie__name {
  opacity: 1;
}

.view-movie__info {
  color: #fff;
  margin-bottom: 50px;
}

.actor, .similar {
  color: #000;
  text-align: center;
}

.actor__name {
  margin: 5px 0;
}

.view__bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.view-movie__text {
  margin-left: 50px;
}

.poster {
  /* height: 262px; */
  padding: calc(100% - 32%) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  background-color: lightgrey;
}

.second-img {
  display: none;
}

.genre {
  color: #fff;
  display: block;
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  font-weight: 500;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  transition: all .5s linear;
}

.genre.active {
  transition: all .5s linear;
  background-color: #f0ecfc;
  background-image: linear-gradient(150deg, #c797eb 74%, #f0ecfc 5%);
}

.similar {
  position: relative;
}

.similar__bg {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* transform: scale(0); */
  transition: all .5s linear;
}

.similar__name {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-size: 20px;
  color: #fff;
  /* transform: scale(0); */
}

.similar:hover .similar__bg, .similar:hover .similar__name {
  display: block;
  /* transform: scale(1); */
  transition: all .5s linear;
}

.similar:hover {
  transition: all .5s linear;
  box-shadow: 0 0px 15px 0 #fff;
}

.actor img, .similar img {
  width: 100%;
}

.info {
  display: block;
  margin: 5px 0;
  font-weight: 700;
}

.info span {
  font-weight: 400;
  margin-left: 20px;
}

.genres {
  /* background-color: white; */
  padding: 20px;
  flex: 1;
}

.movie-grid {
  flex: 3;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.movie-grid__movie {
  width: 23%;
  display: inline-block;
}

.movie-grid__movie img {
  width: 100%;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.load {
  margin: 0 auto;
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.load:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.load:hover {
  background: transparent;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  color: #fff;
}
.load:hover:after {
  transform: scale(2) rotate(180deg);
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

.movie-name {
  color: #fff;
  font-size: 18px;
}

.filter__form {
  width: 500px;
}

/*======================
        LOADER
======================*/

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.loader__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
}

.loader__film {
  position: absolute;
  top: -30px;
  left: 0;
  display: flex;
}

.loader__film-img {
  animation: rotate 1.5s linear infinite;
}


/*======================
        404 page
=======================*/

@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Lato");
/* body {
  background: #D3DEEA;
} */

.top {
  margin-top: 30px;
}

.error-container {
  margin: 0 auto;
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: -40px;
}

.ghost {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: #EDEDED;
  border: 1px solid #BFC0C0;
  border-bottom: none;
  animation: float 2s ease-out infinite;
}

.ghost-copy {
  width: 50%;
  height: 53%;
  left: 25%;
  top: 10%;
  position: absolute;
  border-radius: 50% 50% 0 0;
  background: #EDEDED;
  border: 1px solid #BFC0C0;
  border-bottom: none;
  animation: float 2s ease-out infinite;
  z-index: 0;
}

.face {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;
}

.eye, .eye-right {
  position: absolute;
  background: #585959;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 40%;
}

.eye {
  left: 25%;
}

.eye-right {
  right: 25%;
}

.mouth {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent #585959 #585959 transparent;
  transform: rotate(45deg);
}

.one, .two, .three, .four {
  position: absolute;
  background: #EDEDED;
  top: 85%;
  width: 25%;
  height: 23%;
  border: 1px solid #BFC0C0;
  z-index: 0;
}

.one {
  border-radius: 0 0 100% 30%;
  left: -1px;
}

.two {
  left: 23%;
  border-radius: 0 0 50% 50%;
}

.three {
  left: 50%;
  border-radius: 0 0 50% 50%;
}

.four {
  left: 74.5%;
  border-radius: 0 0 30% 100%;
}

.shadow {
  position: absolute;
  width: 30%;
  height: 7%;
  background: #BFC0C0;
  left: 35%;
  top: 80%;
  border-radius: 50%;
  animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes float {
  50% {
    transform: translateY(15px);
  }
}
.bottom {
  margin-top: 10px;
}

/*text styling*/
.error-title {
  font-family: "Abril Fatface", serif;
  color: #EDEDED;
  text-align: center;
  font-size: 9em;
  margin: 0;
  text-shadow: -1px 0 #BFC0C0, 0 1px #BFC0C0, 1px 0 #BFC0C0, 0 -1px #BFC0C0;
}

.error-title_bottom {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: #BFC0C0;
  margin-top: -20px;
  font-weight: 900;
}

.error-text {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #585959;
  font-size: 0.6em;
  margin-top: -20px;
  text-transform: uppercase;
}

.search {
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/*search style*/
.search-bar {
  border: 1px solid #BFC0C0;
  padding: 5px;
  height: 20px;
  margin-left: -30px;
  width: 200px;
  outline: none;
}
.search-bar:focus {
  border: 1px solid #D3DEEA;
}

.search-btn {
  position: absolute;
  width: 30px;
  height: 32px;
  border: 1px solid #BFC0C0;
  background: #BFC0C0;
  text-align: center;
  color: #EDEDED;
  cursor: pointer;
  font-size: 1em;
  outline: none;
}
.search-btn:hover {
  background: #EDEDED;
  border: 1px solid #EDEDED;
  color: #BFC0C0;
  transition: all 0.2s ease;
}

.btn {
  background: #EDEDED;
  padding: 15px 20px;
  margin: 5px;
  color: #585959;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 1px;
  border: 0;
}
.btn:hover {
  background: #BFC0C0;
  transition: all 0.4s ease-out;
}

/* footer {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 10px;
  color: #EA7996;
  letter-spacing: 3px;
  font-family: "Lato", sans-serif;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  color: #7d7d7d;
} */

.movie-count {
  font-size: 20px;
}

/*==================
        RATE
==================*/

:root {
  --rating-size: 5rem;
  --bar-size: 0.6rem;
  --background-color: #e7f2fa;
  --rating-color-default: #2980b9;
  --rating-color-background: #c7e1f3;
  --rating-color-good: #27ae60;
  --rating-color-meh: #f1c40f;
  --rating-color-bad: #e74c3c;
}

.rating {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  background: var(--rating-color-default);
  color: var(--rating-color-default);
  width: var(--rating-size);
  height: var(--rating-size);

  font-size: calc(var(--rating-size) / 3);
  line-height: 1;
}

.rating span {
  position: relative;
  display: flex;
  font-weight: bold;
  z-index: 2;
}

/* .rating span small {
  font-size: 0.5em;
  font-weight: 900;
  align-self: center;
} */

.rating::after {
  content: "";
  position: absolute;
  top: var(--bar-size);
  right: var(--bar-size);
  bottom: var(--bar-size);
  left: var(--bar-size);
  background: var(--background-color);
  border-radius: inherit;
  z-index: 1;
}

.rating::before {
  content: "";
  position: absolute;
  top: var(--bar-size);
  right: var(--bar-size);
  bottom: var(--bar-size);
  left: var(--bar-size);
  border-radius: inherit;
  box-shadow: 0 0 0 1rem var(--rating-color-background);
  z-index: -1;
}

.rating.good {
  background: var(--rating-color-good);
  color: var(--rating-color-good);
}

.rating.meh {
  background: var(--rating-color-meh);
  color: var(--rating-color-meh);
}

.rating.bad {
  background: var(--rating-color-bad);
  color: var(--rating-color-bad);
}

.css-2613qy-menu {
  display: block;
}


@media (max-width: 991px) {
  .slider__info {
    padding: 20px calc(100% - 85%) 0 50px;
  }

  .slider__title {
    font-size: 26px;
  }

  .slider__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
  }

  .rating {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .rating::after {
    top: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    left: 0.5rem;
  }

  .message__title {
    font-size: 34px;

  }
  .error__content {
    top: 55%;
  }

  .movie__name, .movie-name {
    font-size: 16px;
  }

  .similar__name {
    font-size: 18px;
  }

  .actor__name  {
    font-size: 12px;
  }
}

@media (max-width: 767px) {

  .error__content {
    position: static;
    margin: 0 auto;
    transform: none;
    padding-top: 300px;
  }
  .error {
    padding-top: 0;
    padding-bottom: 100px;
    height: 100vh;
  }

  .slider__info {
    padding: 10px calc(100% - 100%) 0 30px;
  }

  .rating {
    display: none;
  }

  .slider__title {
    font-size: 22px;
  }

  .slider__text {
    margin-bottom: 30px;
  }

  .movie__link {
    padding: 7px 18px;
  }

  .view-movie__info_text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
  }

  .row4 {
    flex-direction: column;
  }

  .genres {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    order: 1;
  }

  .genre {
    width: 110px;
    /* max-width: 150px; */
  }

  .movie-grid__movie {
    width: 31%;
  }
}

@media (max-width: 565px) {
  .message__title {
    font-size: 36px;
    padding-bottom: 20px;
  }
  .message__text {
    font-size: 16px;
    line-height: 2;
    padding-right: 20px;
    padding-left: 20px;
  }
  .lamp {
    zoom: .6;
  }
  .error__content {
    padding-top: 180px;
  }

  .genre {
    width: 21%;
    font-size: 12px;
  }

  .first-img {
    display: none;
  }

  .second-img {
    display: block;
  }

  .movie-grid__movie {
    width: 48%;
  }

  .view-movie__text {
    margin-left: 30px;
  }

  .info span {
    margin-left: 10px;
  }

  .filter__form {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .message__title {
    font-size: 30px;
  }
  .message__text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }
  .error__nav {
    margin-top: 20px;
  }

  .slider__info {
    padding: 5px calc(100% - 100%) 0 19px;
  }

  .slider__title {
    font-size: 18px;
  }

  .slider__text {
    display: none;
  }

  .movie__link {
    padding: 5px 15px;
    font-size: 12px;
  }

  .movielist__title {
    font-size: 16px;
  }

  .movie:hover {
    transform: scale(1);
    /* box-shadow: 0 0px 15px 0 #fff; */
  }

  .movie__name {
    bottom: 5px;
    left: 5px;
    font-size: 14px;
  }

  .logo {
    width: 65px;
  }

  .header__link {
    margin-left: 10px;
  }

  .genres {
    padding: 0;
  }

  .genre {
    width: 22%;
    font-size: 11px;
    padding: 6px 12px;
    margin: 6px 0;
  }
  .movie-name {
    font-size: 14px;
  }

  .view-movie__text {
    margin-left: 15px;
  }

  .info {
    font-size: 14px;
  }

  .info span {
    margin-left: 7px;
  }

  .view-movie__info_text {
    max-width: 175px;
  }

  .similar__name {
    bottom: 10px;
    left: 5px;
  }
}

@media (max-width: 320px) {

}